<section class="container is-max-widescreen">
  <div class="card">
    {{#each this}}
    <div id="userID">
      {{user.username}}
    </div>
    <div>
      {{comment_text}}
    </div>
    {{/each}}
  </div>
</section>