<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get Techy</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid&family=Quicksand&family=Rajdhani:wght@700&display=swap"
    rel="stylesheet">

</head>

<body>
  <div>
    <header>
      <div>
        <nav class="navbar" role="navigation">
          <a class="navbar-item" href="/" style="background:none">Home</a>
          <a class="navbar-item" href="/dashboard" style="background:none">Dashboard</a>
          {{!-- 'browse' get request needs to be created still --}}
          {{#if loggedIn}}
          <a class="navbar-item" id="logout" href="/" style="background:none">Logout</a>
          {{else}}
          <a class="navbar-item" href="/login" style="background:none">Login</a>
          {{/if}}
        </nav>
      </div>
  </div>
  <section class="section is-medium has-text-centered">
    <div class="title">
      <h1 class="techBlogFont has-text-white">Welcome to </h1>
      <h1 class="getTechy techBlogFont is-size-1-mobile"> Get Techy </h1>
      <h1 class="techBlogFont">A place to share your thoughts on all things tech</h1>
    </div>
  </section>

  <section class="columns">
    <!-- Render the sub layout -->
    <div class="column">
      {{{ body }}}
      </main>
    </div>

    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
    {{!--
    <script src="/js/search.js"></script> --}}
  </section>
</body>

</html>