<div class="card container is-max-widescreen has-background-black">
  <h2>Create New Post</h2>
  <form>
    <div class="field">
      <div class="label green">Title</div>
      <div class="control">
        <input class="input" id="post-title" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label green">Content</label>
      <div class="control">
        <textarea class="textarea" id="post-text" type="text"></textarea>
      </div>
    </div>
    <div>
      <button class="button is-light is-outlined is-rounded " type="submit">Create!</button>
    </div>
  </form>
</div>
<script src="/js/new-post.js"></script>