html {
    background-color: black;
}


.techBlogFont {
    font-family: 'Rajdhani', sans-serif;
}

.green {
    color: rgb(0, 158, 0);
}

.getTechy {
    font-size: 150px;
    color: rgb(0, 158, 0)
}

.navbar,
.navbar-item {
    background-color: black;
    color: white;
}